{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% block content %}
<div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_content">
                <div class="x_panel">
                    <div class="row x_title">
                        <div class="col-md-9 col-sm-12 col-lg-10"><h2 class="h2"><a href="{% url 'borrows'%}"><i
                                class="fa fa-reply"></i></a>
                            | {{ tooltip }}</h2>
                        </div>

                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <span class="x_panel  text-white h6 {% if message.level == 40 %}message alert alert-danger{% elif message.level == 25 %} alert alert-success{% endif %}">
                                {{message}}
                          </span>
                    {% endfor %}
                    {% endif %}
                    <div class="clearfix"></div>
                    <div class="x_content">
                        <br/>
                        <form method="post" data-parsley-validate id="demo-form">
                            {% csrf_token %}
                            {{ borrow | crispy }}

                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 text-right">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if borrows %}
    <div class="table-responsive">
        <table id="datatable" class="table table-striped w-100 jambo_table bulk_action">
            <thead>
            <tr class="headings">
                <th class="column-title">#</th>
                <th class="column-title">Date d'emprunt</th>
                <th class="column-title">Date d'expiration d'emprunt</th>
                <th class="column-title">Date de retour</th>
                <th class="column-title">Lecteur</th>
                <th class="column-title">Livre</th>
                <th class="column-title">Etat</th>
                <th class="column-title">Status</th>
                <th class="column-title no-link last"><span class="nobr">Action</span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for borrow in borrows %}
            <tr class="even pointer">
                 <td class=" ">{{ forloop.counter }}</td>
                <td>{{borrow.date_borrow}}</td>
                <td>{{borrow.expired_date_borrow}}</td>
                <td>
                    Non retourné
                </td>
                <td>{{borrow.reader}}</td>
                <td>{{borrow.book.title_book}}</td>
                {% if borrow.days > 0 %}
                <td class="text-success">Expire dans : {{borrow.days}} jours</td>
                <td class="text-success text-center"><i class="fa fa-check"></i></td>
                {% else %}
                <td class="text-danger">Expiré</td>
                <td class="text-danger text-center"><i class="fa fa-circle"></i></td>
                {% endif %}

                <td class=" d-flex align-items-center last text-center">
                    <a title="Modification de l'emprunt" href="{% url 'edit_borrow' borrow.pk %}"><i
                            class="fa fa-edit btn text-dark"></i></a>
                    <a title="Restituer l'emprunt" href="{% url 'changeBorrowStatus' borrow.pk%}"><i
                            class="fa fa-reply"></i></a>
                    <a title="Suprimer" class="supprimer" data-id="{{borrow.pk}}" href="#"><i
                            class="fa fa-trash btn text-danger"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
    {% endblock content %}
{% block js %}
<script>
$('#datatable').on('click','.supprimer',function(event){
    event.preventDefault()
    let id = $(this).data('id')
   swal.fire({
            "title": "Voulez-vous vraiment supprimer ce Point de Lecture ?",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "Non",
            "confirmButtonText": "Oui",

        }).then(function(result){
            if(result.isConfirmed){
                window.location.href = "delete_borrow/"+ id
            }
        })
})
 setTimeout(() => {
 $('.message').fadeOut(1000)
}, 10000);

</script>
{% endblock js%}