{% extends 'accounts/base.html' %} {% load static %} {% block content %}
<div
  id="login_body"
  style="
  background-image: url('{% static 'images/bg1.jpg' %}') !important;" 
>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="">
      <section class="login_content">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %} {% endif %}
        <form action="{% url 'login' %}" method="POST">
          <h1>CONNEXION</h1>
          {% csrf_token %} {{ form }}
          <div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <div class="clearfix"></div>
            <br />

            <div>
              <h1><i class="fa fa-paw"></i> LVIA Guinée</h1>
              <p>
                ©{{ year }} All Rights Reserved, Développé  par AltGras.
              </p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
<script>
  const date = new Date;
  const year = date.getFullYear();
</script>
{% endblock content %}


