{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Button D'Ajout -->
{%if add%}
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="row x_title"><div class="col-10 h2">{{ tooltip }}</div></div>
            <div class="clearfix"></div>
            <div class="col-12 row mb-3">
                               <div class="col-md-4 col-sm-4 col-12 text-md-left">
                                    <button class="btn btn-sm btn-info-outline" data-target="#addRayon" data-toggle="modal" type="button">
                                    <i class="fa fa-plus-circle text-info"></i> Nouveau Rayon</button>
                               </div>
                        <div class="col-md-8 col-sm-8 col-12 text-md-right">
                            <a class="btn btn-sm btn-info-outline " href="{%url 'pdfprintRank'%} " target ="_blank" ><i class="fa fa-print text-info p-1"></i>Imprimer</a>
                        </div>
            </div>
             <div class="col">
             </div>
            <div class="modal fade" id="addRayon" tabindex="-1" aria-labelledby="addReadPoint" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Rayon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="demo-form2" method="POST" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body ">
                    {% csrf_token %}
                    <div class="item form-grou row">
                        <div class="col-12 col-sm-12 ">
                            {{ ranks.name_rayon | as_crispy_field}}
                        </div>
<!--                        -->
                        <div class="col-12  col-sm-12 ">
                            <select class="form-control" name="readpoint" id="readpoint_id">
                                <option value="">Sélectionnez un point de lecture</option>
                                {%for readpoint in form_readpoint%}
                                <option value="{{readpoint.pk}}">nom: {{readpoint.name_readpoint}} Commune: {{readpoint.commune_readpoint}}
                                     Quartier: {{readpoint.quartier_readpoint}}
                                </option>
                                {%endfor%}
                            </select>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-lg">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="clearfix"></div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive" id="tab_books_">
                            <table id="datatable-responsive" class="table table-striped table-bordered">
                                <thead class="bg-secondary text-white">
                                <th>RAYON</th>
                                <th>POINT DE LECTURE</th>
                                <th class="text-center">ACTION</th>
                                </thead>
                                <tbody>
                                {% for rank in list_ranks %}
                                <tr>
                                    <td>{{ rank.name_rayon }}</td>
                                    <td>{{ rank.readpoint.name_readpoint }}</td>
                                    <td class="col-2 text-center">
                                         {%if change%}
                                        <a href="edit_rank/{{ rank.id }}" class="btn">
                                            <i class="fa fa-edit text-primary"></i>
                                        </a>
                                        {%endif%}
                                        {%if delete%}
                                        <a class="btn" href="#" onclick="delete_rank({{ rank.id }})">
                                            <i class="fa fa-trash text-danger"></i>
                                        </a>
                                        {%endif%}

                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
{%endif%}


<!-- Modal ajout Rayon -->


{% endblock content %}

{% block custom_js %}
<script>

    $(document).ready(function(){
        $("#rank_table").DataTable()
    })

    {% if messages %}
    {% for msg in messages %}
    {%if msg.level == 40%}
        swal.fire({
            "title": "{{ msg }}",
            "icon": "error"
        })
        {%endif%}
        {%if msg.level == 25%}
        swal.fire({
            "title": "{{ msg }}",
            "icon": "success"
        })
        {%endif%}
    {% endfor %}
    {% endif %}

    function delete_rank(id){
        swal.fire({
            "title": "Voulez-vous vraiment supprimer ce Rayon ?",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "Non",
            "confirmButtonText": "Oui"
        }).then(function(result){
            if(result.isConfirmed){
                window.location.href = "delete_rank/"+id
            }
        })
    }




</script>
{% endblock custom_js %}