{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Liste des Activitées -->
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Default Example <small>Users</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="readPoint_table" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ID de L'utilisateur</th>
                                    <th>Nom d'utilisateur</th>
                                    <th>Action effectuée</th>
                                    <th>Url Visitée</th>
                                    <th>Description</th>
                                    <th>Date et Heure</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for activity in activities %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ activity.user_id }}</td>
                                    <td>{{ activity.username }}</td>
                                    <td>{{ activity.action_type }}</td>
                                    <td>{{ activity.visited_url }}</td>
                                    <td>{{ activity.description }}</td>
                                    <td>{{ activity.action_date_time }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block custom_js %}
<script>

    $(document).ready(function(){
        $("#readPoint_table").DataTable()
    })

</script>
{% endblock custom_js %}